<div class="card mb-3" style="width: 1200px; background: gray; color: black">
  <div class="card-header bg-primary" style="font-weight: bold; font-size: 24px; border: solid thin black;"
       (click)="toggleShowRecentPerformance()">Recent Performance
  </div>
  <ng-container *ngIf="showRecentPerformance">
    <div class="card-header" style="font-weight: bold; font-size: 24px; background: #424242; color: lightgrey">
      Performance of last {{recentPerformanceStats.matches}} matches
    </div>
    <div class="row no-gutters">
      <div class="col-md-1.5">
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <ul style="list-style-type: none">
            <h6 class="card-title mt-2">Matches and Wins</h6>
            <li> Matches: {{recentPerformanceStats.matches}} </li>
            <li> Wins: {{recentPerformanceStats.wins}}  </li>
            <li> Win Ratio: {{recentPerformanceStats.wins/recentPerformanceStats.matches* 100 | number: '1.0-2' }} %</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <ul style="list-style-type: none">
            <h6 class="card-title mt-2">Ratios</h6>
            <li> Avg KD Ratio: {{recentPerformanceStats.sumOfKDRatio/recentPerformanceStats.matches | number: '1.2-2'}}</li>
            <li> Headshots: {{recentPerformanceStats.sumOfHeadshotPercent/recentPerformanceStats.matches | number: '1.0-2'}} %</li>
            <li> Avg KR Ratio: {{recentPerformanceStats.sumOfKRRatio/recentPerformanceStats.matches | number: '1.2-2'}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <ul style="list-style-type: none">
            <h6 class="card-title mt-2">Stats</h6>
            <li>Kills: {{recentPerformanceStats.kills}}</li>
            <li>Deaths: {{recentPerformanceStats.deaths}}</li>
            <li>Assists {{recentPerformanceStats.assists}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <ul style="list-style-type: none">
            <h6 class="card-title mt-2">Avg Stats</h6>
            <li>Avg Kills: {{recentPerformanceStats.kills/recentPerformanceStats.matches | number: '1.2-2'}}</li>
            <li>Avg Deaths: {{recentPerformanceStats.deaths/recentPerformanceStats.matches | number: '1.2-2'}}</li>
            <li>Avg Assists: {{recentPerformanceStats.assists/recentPerformanceStats.matches | number: '1.2-2'}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <ul style="list-style-type: none">
            <h6 class="card-title mt-2">Avg Multi Kills</h6>
            <li>Avg Triple Kills: {{recentPerformanceStats.tripleKills/recentPerformanceStats.matches | number: '1.3-3'}}</li>
            <li>Avg Quad Kills: {{recentPerformanceStats.quadKills/recentPerformanceStats.matches | number: '1.3-3'}}</li>
            <li>Avg Aces: {{recentPerformanceStats.aces/recentPerformanceStats.matches | number: '1.3-3'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>
