<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="'false'">
    <mat-toolbar style="color: lightgrey">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="''" style="color: lightgrey">Home</a>
      <a mat-list-item [routerLink]="'faceit-stats'" style="color: lightgrey">Faceit Stats</a>
      <a mat-list-item [routerLink]="'demo-analyzer'" style="color: lightgrey">Demo Analyzer</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button style="color: lightgrey"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a [routerLink]="''" style="color: lightgrey">Home</a>
    </mat-toolbar>
    <!-- Add Content Here -->


    <router-outlet></router-outlet>
    <!-- Routed views go here -->

  </mat-sidenav-content>
</mat-sidenav-container>
