.sidenav-container {
  height: 100%;
  background: #121212;
}

.sidenav {
  width: 200px;
  background: #121212;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #0275d8;
  color: lightgray;
}
html { background-color: #121212; }

