<div class="card border-dark mb-3" style="width: 800px;">
  <div class="card-header" style="font-weight: bold; font-size: 24px">{{profile['nickname']}}</div>
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{profile['avatar']}}" class="card-img" alt="..." width="150" height="150">
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <ul style="list-style-type: none">
          <h6 class="card-title mt-2">Matches and Wins</h6>
          <li> Matches: {{stats.lifetime['Matches']}} </li>
          <li> Wins: {{stats.lifetime['Wins']}} </li>
          <li> Win Ratio: {{stats.lifetime['Win Rate %']}} %</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3.5">
      <div class="card-body">
        <ul style="list-style-type: none">
          <h6 class="card-title mt-2">Ratios</h6>
          <li> KD Ratio: {{stats.lifetime['Average K/D Ratio']}} </li>
          <li> Headshot: {{stats.lifetime['Average Headshots %']}} %</li>
          <li> Total Headshots: {{stats.lifetime['Total Headshots %']}} </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <ul style="list-style-type: none">
          <h6 class="card-title mt-2">Win Streaks</h6>
          <li> Current Win Streak: {{stats.lifetime['Current Win Streak']}} </li>
          <li> Longest Win Streak: {{stats.lifetime['Longest Win Streak']}} </li>
        </ul>
      </div>
    </div>
  </div>
</div>
