<div style="text-align:center">
  <h1>
    Faceit Stats
  </h1>

  <form>
    <mat-form-field class="example-full-width">
      <label>
        <input matInput placeholder="Faceit user" #newUsername="matInput"
               (keyup.enter)="getStatsForUserName(newUsername.value)">
      </label>
    </mat-form-field>
    <button (click)="getStatsForUserName(newUsername.value)">Submit</button>
  </form>

</div>

<!-- lifetime stats-->
<div [hidden]="!showStats" *ngFor="let item of stats">

  <h1 class="username">{{username}}</h1>
  <ul class="doubleColumns" >
    <li>Matches: {{item.lifetime['Matches']}}</li>
    <li>Wins: {{item.lifetime['Wins']}}</li>
    <li>Win Ratio: {{item.lifetime['Win Rate %']}} %</li>
    <li>KD Ratio: {{item.lifetime['Average K/D Ratio']}}</li>
    <li>Headshot: {{item.lifetime['Average Headshots %']}} %</li>
    <li>Total Headshots: {{item.lifetime['Total Headshots %']}}</li>
    <li>Current Win Streak: {{item.lifetime['Current Win Streak']}}</li>
    <li>Longest Win Streak: {{item.lifetime['Longest Win Streak']}}</li>

  </ul>


</div>

