<div class="container">
  <h1>
    Faceit Stats
  </h1>

  <form>
    <mat-form-field>
      <label>
        <input matInput placeholder="Faceit Username" #newUsername="matInput">
      </label>
    </mat-form-field>
    <button class="btn btn-primary" (click)="sendForm(newUsername.value)">Submit</button>
  </form>
</div>

<div class="container" [hidden]="!showStats" *ngIf="stats!=undefined && profile!=undefined">
  <!-- lifetime stats-->
  <div class="card border-dark mb-3" style="max-width: 600px;">
    <div class="card-header" style="font-weight: bold; font-size: 24px">{{username}}</div>
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{{profile['avatar']}}" class="card-img" alt="..." width="150" height="150">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <ul>
            <li> Matches: {{stats.lifetime['Matches']}} </li>
            <li> Wins: {{stats.lifetime['Wins']}} </li>
            <li> Win Ratio: {{stats.lifetime['Win Rate %']}} %</li>
            <li> KD Ratio: {{stats.lifetime['Average K/D Ratio']}} </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <ul>
            <li> Headshot: {{stats.lifetime['Average Headshots %']}} %</li>
            <li> Total Headshots: {{stats.lifetime['Total Headshots %']}} </li>
            <li> Current Win Streak: {{stats.lifetime['Current Win Streak']}} </li>
            <li> Longest Win Streak: {{stats.lifetime['Longest Win Streak']}} </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <br>
  <!-- map stats-->
  <div class="row" *ngFor="let map of stats['segments'] ">
    <h3 style="padding-left:15px"> {{map['label']}}</h3>
    <div class="col-sm-1">
      <img src="{{map['img_regular']}}" alt="..." class="rounded" width="200" height="125">
    </div>
    <div class="col-sm-6">
      <ul class="fiveColumns">
        <li> Matches: {{map['stats']['Matches']}} </li>
        <li> Wins: {{map['stats']['Wins']}} </li>
        <li> Win Ratio: {{map['stats']['Win Rate %']}} %</li>

        <li> Average KD Ratio: {{map['stats']['Average K/D Ratio']}} </li>
        <li> Average KR Ratio: {{map['stats']['Average K/R Ratio']}} </li>
        <li> HS Ratio: {{map['stats']['Average Headshots %']}} %</li>

        <li> Average Kills: {{map['stats']['Average Kills']}} </li>
        <li> Average Deaths: {{map['stats']['Average Deaths']}} </li>
        <li> Average Assists: {{map['stats']['Average Assists']}} </li>

        <li> Triple Kills: {{map['stats']['Triple Kills']}} </li>
        <li> Quad Kills: {{map['stats']['Quadro Kills']}} </li>
        <li> Aces: {{map['stats']['Penta Kills']}} </li>

        <li> Average Triple Kills: {{map['stats']['Average Triple Kills']}} </li>
        <li> Average Quad Kills: {{map['stats']['Average Quadro Kills']}} </li>
        <li> Average Aces: {{map['stats']['Average Penta Kills']}} </li>
      </ul>
    </div>
  </div>
</div>

